/* base styling */ 

*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --ff-major: 'Encode Sans', sans-serif;
    --ff-minor: 'Source Code Pro', monospace;

    --fw-normal: 300;
    --fw-bold: 1000;

    --color-background: #fff;
    --color-text: #1f1e1e;
    --color-accent: #463EB3;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --box: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
           0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}

html {
    scroll-behavior: smooth;
}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* Main Styling */

body {
    background: var(--clr-background);
    color: var(--color-text);
    margin: 0;
    font-family: var(--ff-major);
    font-size: var(--fs-body);
    line-height: 1.6;

}

section {
     padding: 5em 2em;
}


img {
    display: block;
    max-width: 100%;
}

strong { 
    font-weight: var(--fw-bold)
}

:focus {
outline: 3px solid var(--color-accent);
outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--color-accent);
    color: var(--color-background);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transforms 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size:var(--fs-h1)
}

h2 {
    font-size:var(--fs-h2)
}

h3 {
    font-size:var(--fs-h3)
}



.section__title {
    margin-bottom: 0.25em;

}

.section__title--intro {
    font-weight: var(--fw-normal);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--self  {
    background: var(--color-accent);
    color: var(--color-background);
    padding: 0.25em 1em;
    font-family: var(--ff-minor);
    margin-bottom: 1em;
}

/* header */
header {
    display: flex;
    justify-content:space-between;
    padding: 1em;
}

.logo {
    max-width: 200px;

}

.nav {
    position: fixed;
    background: var(--color-text);
    color: var(--color-background);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;   
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;

}

.nav__link:hover {
    color: var(--color-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
    
}

.nav-open .nav-toggle {
    position: fixed;
}
.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
       transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
        opacity: 0;
}


.hamburger {
    background: var(--color-text);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--color-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}

/* Home */

.intro {
    position: relative;
}


.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
              "img title"
              "img subtitle";
        grid-template-columns: min-content max-content;      
    }


    .intro__img{
        grid-area: img;
        min-width: 250px;
        position:relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 2em);

    }
}

.projects{
   padding: 0;
   margin: 0;
}


.container{
    display: flex;
    height: 100vh;
}

.subsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    transition: flex .4s ease;
}

.subsection:hover{
    flex: 2;
}

.subsection .overlay{
    background-color: rgba(0, 0, 0, 0.4); 
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
}

.subsection:hover .overlay{
    background-color: rgba(0, 0, 0, 0.8); 
} 

.subsection .content{
    z-index: 2;
}


.subsubsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    background-color: var(--color-text);
    transition: flex .4s ease;
}

.subsubsection:hover{
    flex: 1;
}

.subsubsection .overlay{
    background-color: rgba(0, 0, 0, 0.4); 
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
}

.subsubsection:hover .overlay{
    background-color: rgba(0, 0, 0, 0.8); 
} 

.subsubsection .content{
    z-index: 2;
}

.link1:link {
    text-decoration: none;
    color: #fff;
  }
  
.link1:visited {
    text-decoration: none;
    color: #fff;
  }
  
.link1:hover {
    text-decoration: none;
    color: #808080;
  }
  
.link1:active {
    text-decoration: none;
    color: #fff;
  }



#DexVisio{
    background-image:url(../image/DexVisio.png);
}

#Kopyright{
    background-image:url(../image/kopyright.png);
}

#Fortuna{
    background-image:url(../image/fortuna.png);
}

#More{
    background-image:url(../image/more.jpeg);
}

.education {
    background-color: var(--color-text);
    background-image: url(../image/education.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--color-background);
    text-align: center;

}

.section__title--education {
    color: var(--color-background);
    position: relative;
}

.section__title--education::after {
              content: '';
              display:block;
              width: 2em;
              height: 1px;
              margin: 0.5em auto 1em;
              background: var(--color-background);
              opacity: 0.25;
}

.educations {
    margin-bottom: 9em;
}

.institutes {
    align-self: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 800px) {
    .educations {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .institutes + .institutes {
        margin-left:10em;
        
        
        
    }
}

.institute_logo1{
    max-height: 211px;
    max-width: 221px;
}

.institute_logo2{
    max-height: 211px;
    max-width: 221px;
}

.institute_logo3{
    max-height: 311px;
    max-width: 321px;
}

.self{
    max-width: 1000px;
    margin: 0 auto;
}

.aboutme__img {
    box-shadow: var(--box);
}

@media (min-width: 600px) {
    .self {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 
                "title img"
                "subtitle img"
                "text img";
                grid-column-gap: 2em;
    }

    .section__title--self {
        grid-area: title;
    }
  
    .section__subtitle--self {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 3em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .aboutme__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* skills */

.skills {
    background-color: var(--color-text);
    color: var(--color-background);
    text-align:center;
}

.section_title, 
.section__title--skill{
    text-align: auto;
    margin-left: 1em;
    margin-right: 0.2em;
}

.skill__list,
.skill__list1,
.skill__list2,
.skill__list3 {
    list-style: none;
}

strong{
    font-weight: lighter;
}







/* footer */

.footer {
    background: #111;
    color: var(--color-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.socialmedia__link:hover {
    opacity: .7;
}

.footer__link:hover {
    opacity: .7;
    text-decoration: underline;
 } 

.socialmedia {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.socialmedia__list {
    margin: 0.5em;
}

.socialmedia__link {
    padding: 0.5em;
}
